parameters:
	level: 8
	paths:
		- src
		- api.php
		- build.php
		- functions.php
		- index.php
		- list.php
		- update.php
		- 404.php
	phpVersion: 80418
	excludePaths:
		- vendor
	reportUnmatchedIgnoredErrors: false
